/* share font */
.font{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #272727;
  }
  
/* universal code */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.header-title{
  /* text-align: center; */
  font-size: 40px;
  font-weight: 900;
  }
.p-description{
  font-size: 18px;
  /* text-align: center; */
  }
.bg-color{
    background-color: #FFD4CF;
  }

/* header-section-start */
header{
  max-width: 1440px;
  margin: 0 auto;
}
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
  }
  h2 a{
    font-size: 45px;
    color: rgb(233, 83, 186);
    text-decoration: none;
  }
  nav ul{
   list-style: none;
   display: flex;
  }
  nav ul li{
   margin-right: 20px;
   padding: 10px;
  }
  nav ul li a{
     text-decoration: none;
  }
 nav ul li a:hover{
    color: aquamarine;
    background-color: burlywood;
  }

/* header-section-edn */
  main{
    max-width: 1440px;
    margin: 0 auto;
  }

/* banner-section-start */
.container{
  width: 90%;
  margin: 0 auto;
}
  .banner-container{
    display: flex; 
  }
  .banner-text{
    width: 50%;
    margin: 100px;
  }
  .banner-img{
    width: 50%;
    margin: 40px 0px 0 20px;
  }
  .b-h1{
    font-size: 58px;
    font-weight: 900;
  }
  .b-p{
    font-size: 18px;
    margin: 20px 0;
  }
  .btn-primary{
    font-size: 20px;
    font-weight: bold;
    background-color: #E55473;
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
  }
  .banner-img img{
    width: 100%;
  }
  /* banner-section-end */
  /* Feature-section-Start */
  .feature,.instagram{
    margin-top: 100px;
  }
  .feature-content,.instagram-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .feature-img{
    margin-top: 48px;
    display: flex;
    gap: 20px;
  }
  .first-img,.second-img,.third-img{
    width:450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 0 0;
  }
  #first{
    background-color:#F2DEE7;
  }
  #second{
    background-color:#F2F9F9;
  }
  #third{
    background-color:#E3EBDB;
  }
  .tree{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
    margin-top: 32px;
  }
  /* Feature-section-end */
  /* instagram-section-start*/
  .instagram-images{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
  .first-img{
    width: 390px;
  }
  .first-img img{
    width: 100%;
    border-radius: 10px;
  }
  /* instagram-section-end */
  /* deals-section-start */
  .deals-content{
    margin-top: 128px;
    text-align: center;
    padding: 122px 187px;
    border-radius: 10px;
  }
  .cont-deals{
    background-image: url(../flower/deals-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }
  .p-deals{
    margin: 18px 48px;
  }
  input{
    width: 400px;
    height:35px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .d-btn{
    width: 100px;
    height:35px;
    background-color: #E55473;
    border: none;
    border-radius: 10px;
  }
  /* deals-section-end */
  
