/* universal code */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* share font */
.font{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #272727;
  }
  .bg-color{
    background-color: #FFD4CF;
  }

  /* header-section-start */
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  h2 a{
    font-size: 45px;
    color: rgb(233, 83, 186);
    text-decoration: none;
  }
  nav ul{

   list-style: none;
   display: flex;

}
  nav ul li{
   margin-right: 20px;
   padding: 10px;
  }
  nav ul li a{
     text-decoration: none;

}
 nav ul li a:hover{
    color: aquamarine;
    background-color: burlywood;

  }
  /* header-section-edn */

  main{
    max-width: 1440px;
  }
  /* banner-section-start */
  .container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    
  }
  .banner-text{
    width: 50%;
    margin: 100px 100px 0 100px;
  }
  .banner-img{
    width: 50%;
    margin: 40px 0px 0 100px;
  }
  .b-h1{
    font-size: 70px;
    font-weight: 900;
  }
  .b-p{
    font-size: 18px;
    margin: 20px 0;
  }
  .btn-primary{
    font-size: 20px;
    font-weight: bold;
    background-color: #E55473;
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
  }
  .banner-img img{
    width: 100%;
  }
  /* banner-section-end */
